
/*Imported Pages*/



.admin-wrapper
{
    display: flex;
    height: calc(100% - 66px);
}


.admin-wrapper .left-sidebar 
{
    flex: 2;
    height: 100%;
    background: rgb(0 0 0 / 0.90);
}

.admin-wrapper .admin-content
{
    flex: 8;
    height: 100%;
    background: #d7d7d7;
    padding: 40px 100px 100px;

    overflow-x: scroll;
}

.admin-content .page-title {
    text-align: center;
    margin-bottom: 1.4rem;
}


textarea 
{
    border-radius: 20px;
    display: block;
    width: 100%;
    border: 1px solid #ced4da;
    outline:none;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 43px;
    font-family: "Roboto", "Helvetica" 'sans-serif';
    font-size: 1rem;
    color: #495057;
    height: 170px;
    margin-bottom: 2rem;
    resize: none;
}


table
{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
    
}


.table-responsive
{
    overflow-x:auto;
    display:block;
    width:100%;
}


th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #f69314;
    
}

.admin-wrapper .left-sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
}

.admin-wrapper .left-sidebar ul li a
{
    padding: 18px;
    display: block;
    border-bottom: 1px solid #14bff6;
}

.admin-wrapper .left-sidebar ul a:hover {
    background: #f69314;
}

.edit {
    color: green;
}

.delete {
    color: red;
}

.text-input
{
    padding: .7rem 1rem;
    display: block;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #e0e0e0;
    outline: none;
    color: #444;
    line-height: 1.5rem;
    font-size: 1.2em;
    font-family: 'lora' serif;
}




.publish
{
    color: blue;
}

.edit:hover,
.delete:hover,
.publish:hover
{
    text-decoration: underline;
}

form div
{
    margin-bottom: 15px;
}

.btn 
{
    padding: .5rem 1rem;
    background: #14bff6;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1.08em;
    font-family: "lora", serif;
}


.btn:hover {
    background: #0daee2;
    color: white !important;
}


.btn-big 
{
    padding: .7rem 1.3rem;
    line-height: .8rem;
}


a {
    text-decoration: none;
    color: inherit;
}


/*Login page*/
.auth-content {
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
}


    .auth-content .form-title {
        text-align: center;
    }

    .auth-content form p {
        text-align: center;
        text-decoration: underline;
    }

    .auth-content form div {
        margin-bottom: 10px;
    }




/*End of Login page*/


/*Nav toggle*/
#nav-toggle
{
    display:none;
}




header label span 
{
    display:none !important;
    cursor:pointer;
    background: #14bff6;
    float: left;
    color: #fff;
    padding: .7rem;
    font-size: 1.4rem;
    border-radius: 50%;
    margin-right: 0;
    margin-left: .3rem;
    margin-top: 10px;
}

/*Nav toggle*/

/*End of Imported Pages*/





@media only screen and (max-width:700px)
{
    header
    {
        
        padding:0;
        margin:0;

    }

    header .logo-text
    {
        
        margin-left:0;
    }

    .admin-wrapper .admin-content 
    {
        
        padding: 40px 10px 10px;
    }

    .btn-big
    {
        padding: .3rem;
        line-height: .8rem;
        font-size: 1rem;
       
    }

    .admin-wrapper .left-sidebar ul a
    {
        padding: 10px;
        display: block;
        border-bottom: 1px solid #004044;
        font-size:1rem;
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    h6 
    {
        font-size: 1.4rem;
    }


    .admin-wrapper .admin-content 
    {
        font-size: 1rem;
    }

    header ul li ul li a
    {
        padding: 2px;
        
    }

    .auth-content
    {
        width: 60%;
    }

    
}



@media only screen and (max-width:500px)
{

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1rem ;
      
        
    }

    .btn
    {
        margin-left:14px;
    }

    .left-sidebar
    {
       margin-left:-120px !important;
    }

    .content
    {
        margin-left:3rem !important;

    }


    header label span 
    {
        display: flex !important;
        
    }

    #nav-toggle:checked + .admin-wrapper .left-sidebar
    {
       
        margin-left:0px !important;
        z-index: 100;
    }

    #nav-toggle:checked + .admin-wrapper .content
    {
        margin-left: 0px !important;
        
    }

    .admin-wrapper .admin-content
    {
        min-height: 130% !important;
        font-size: .8rem;
    }


    header ul li:first-child
    {
       margin-top:4px;
    }


    .auth-content
    {
        width: 90%;
    }
}