/**succes and error messages*/
.msg {
    width: 100%;
    margin: 5px auto;
    padding: 8px;
    border-radius: 5px;
    list-style: none;
}

.succes {
    color: #3a6e3a;
    border: 1px solid #3a6e3a;
    background: #bcf5bc;
}

.error {
    color: #884b4b;
    border: 1px solid #884b4b;
    background: #f5bcbc;
}


.btn {
    padding: .5rem 1rem;
    background: #14bff6;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1.08em;
    font-family: "lora", serif;
}


    .btn:hover {
        background: #0daee2;
        color: white !important;
    }


.btn-big {
    padding: .7rem 1.3rem;
    line-height: .8rem;
}



/**succes and error messages*/





@media only screen and (max-width:700px) {
   
    .btn-big {
        padding: .3rem;
        line-height: .8rem;
        font-size: 1rem;
    }



}



@media only screen and (max-width:500px) {

  

    .btn {
        margin-left: 14px;
    }

   
}