* {
    box-sizing: border-box;
}

html, body
{
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #f1ebeb;
    font-family: 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 
{
    font-family: 'Times New Roman', Times, serif;
    color: #444;
    margin: 5px;
}


header
{
    background: rgb(0 0 0 / 0.90);
    height: 66px;
    border-bottom: 1px solid #14bff6;
}

header .logo
{
    float: left;
    height: inherit;
    margin-left: 2em;
}


header *
{
    color: white;
}

header .logo-text
{
    margin: 9px;
    font-family: 'Times New Roman', Times, serif;
}



header ul 
{
    position: absolute;
    float: right;
    margin: 0px;
    right: 0;
    padding: 0px;
    list-style: none;
    z-index: 88888;
}



/*The keys remain in position like home about*/
    

/*The dashboard and log out design begin*/
header ul li ul 
{
    
    position: absolute;
    top: auto;
    right: 0px;
    width: 150px;
    display: none;
    z-index: 88888;
}
/*Show display upon hover*/

header ul li:hover ul
{
    display: block;

}



/*The dashboard and logout to fit 100%*/
header ul li ul li {
    width: 100%;
}

.user-info {
    
    
    margin: 0;
    overflow: hidden;
}

                /*The dashboard and logout colour to white*/
header ul li ul li a 
{
    margin-right:.5rem;
    padding: 10px;
    background: white;
    color: #444;
}

header ul li ul li a.logout 
{
    transition: 1s;
    text-align: center;
    z-index: 88888 !important;
    color: red;
}


/*The dashboard and logout colour to red upon hover*/

header ul li ul li a:hover
{
    transition:0.3s;
    background: red;
    border:1px solid #fff;
    color:#fff;
    border-radius:1rem;
    background:red;
    z-index:88888 !important;
}



/*The dashboard and log out design ends here*/

header ul li a 
{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;

}





header ul li a:hover 
{
    background: #f69314;
    transition: 1s;
    border-radius:1rem;
}




header .menu-toggle
{
    display: none;
}


/**succes and error messages*/
.msg 
{
    width: 100%;
    margin: 5px auto;
    padding: 8px;
    border-radius: 5px;
    list-style: none;
}

.succes 
{
    color: #3a6e3a;
    border: 1px solid #3a6e3a;
    background: #bcf5bc;
}

.error 
{
    color: #884b4b;
    border: 1px solid #884b4b;
    background: #f5bcbc;
}




/**succes and error messages*/