@import url("https://fonts.googleapis.com/css?family-playfair.Display|Roboto&display-swap");

/*start global styles*/
html, body {
    font-family: "Roboto","Helvetica","sans-serif";
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
    overflow-x: hidden;
}


* {
    outline: none;
    box-sizing: border-box;
}

:not(.slick-track):not(.slick-list)
{
    transition:0.4s;
}



.container
{
    max-width:1140px;
    margin: 0 auto;
    padding: 0 20PX;

}

.flex
{
    display:flex;
    justify-content:space-between;
}

h1,h2,h3,h4,h5
{
    margin:0;
    padding:0;

}


h1, h2
{
    font-family:"playfair Display","serif";
    font-weight:800;
}

h2 {
    font-size: 2.5rem;
    color: #14bff6;
    margin-bottom: 1rem;
    line-height: 1.2;
}

h3
{
    font-size:1.4rem;
    font-weight:300;
}

h4 {
    font-size: 1.2rem;
    font-weight: 300;
    color:#14bff6;
}


h5 {
    font-size: 1rem;
    font-family: "playfair Display","serif";
}

p
{
    margin: 0 0 1rem;
}

a.round {
    text-decoration: none;
    background: #14bff6;
    border: none;
    color: #fff;
    font-size: 10px;
    border-radius: 30px;
    padding: 10px 30px;
    line-height: 1.5;
    cursor: pointer;
}


a.round:hover {
    background: #0fa9db;
}

a.rounded
{
    background:#14bff6;
    border:none;
    color:#fff;
    font-size:10px;
    border-radius:30px;
    padding:10px 30px;
    line-height:1.5;
    cursor:pointer;
}


a.rounded:hover
{
    background: #0fa9db;
        
}


.large-paragraph
{
    font-size:1.25rem;
    font-weight:300;
}

/*end  global styles*/


/*Start header styles*/
#header-hero-container
{
    min-height:600px;
    height:calc(100vh);
    position:relative;

}



header
{
    background:transparent;
    padding:1rem 0;
    border-bottom:1px solid rgba(255,255,255,0.1);
    position:fixed;
    width:100%;
    z-index:3;
}


#logo
{
    font-family: 'candal', serif;
    font-size: 1.7rem;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 4px;
}


#logo span
{
    color:#14bff6 !important;
}


.hamburger-menu {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
}



.hamburger-menu .strip
{
    display:block;
    height:1px;
    background-color: #fff;
    margin:4px 0;

}


header ul
{
    list-style-type:none;
}

header ul li
{
    display:inline-block;
    margin: 0 15px;
}

#close-flyout
{
    display:none;
}


header ul li a
{
    transition: 1.3s !important;
    color: #999;
    font-size: 16px;
    text-decoration: none;
}

header ul li a.logout:hover
{
    transition: 1s !important;
    background:red;
    color: white !important;
    border:1px solid #fff;
    padding:.3rem;
    border-radius:1rem;
     
}


header ul li a.logout
{
    transition: .5s !important;
    color: red !important;
}


header ul.ls-sticky li a
{
    color:#999;
}



header ul li a:hover, 
header ul li a.active
{
    transition:1s !important;
    font-weight:bold;
    color:#0fa9db !important ;
}


header ul.ls-sticky li a :hover,
header ul.ls-sticky li a:active
{
    color:#0fa9db;
}



header ul li ul 
{
    border: solid red;
}
header ul li ul a 
{
    border:solid red;
}

header ul li:hover ul 
{
    display: block;
}

/*end header styles*/




/*Start hero section*/
#hero
{
    background: url("https://totalsecuritykenya.com/wp-content/uploads/2020/10/cover-final_optimized.jpg");
    center center no-repeat;
    background-size:cover;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    height:100%;
    width:100%;
}


#hero .fade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(52,58,64,0.9);
    z-index:1;
}

#hero .hero-text 
{
    position: absolute;
    top: 50%;
    margin: 7px auto 0;
    left: 0;
    right: 0; 
    z-index:2;
    width: 500px;
    color: #fff;
    text-align: center;
}


#hero .hero-text h1.byzantium-properties 
{
    font-family: 'candal', serif !important;
}






.hero-text .info
{
    color:#f69314;
}

.hero-text .info a
{
    text-decoration: none;
    color:#0fa9db;
    margin-right:.5rem;
}

.hero-text .info span
{
    font-weight:bold !important;
}

.hero-text .info a.logout
{
   
    color: white;
    
}

.hero-text .info a.logout:hover
{
    cursor: pointer;
    background: red;
    padding: .3rem;
    border: solid 1px #fff;
    color: white;
    border-radius: 20px;
}



.hero-text .info a:hover
{
    cursor:pointer;
    background:#0fa9db;
    padding:.3rem;
    border:solid 1px #fff;
    color:white;
    border-radius:20px;
    
}




#hero .hero-text p 
{
    line-height: 1.5em;
    font-weight: 300;
    font-size: 1rem;
}
/*end hero section*/


/*start How it woks secton*/

#how-it-works {
    padding: 3rem 0;
    background: #f8f9fa;
    text-align: center;
    
}


#how-it-works h2
{
    margin-bottom:3rem;

}


#how-it-works .container
{
    
    margin-bottom: 1.2rem;
    
}


#how-it-works .flex > div
{
    width: 30%;
}


#how-it-works .flex
{
   
   display:inline-block; 
    margin-bottom:1.2rem;
    width:30%;
}

#how-it-works h4
{
   font-weight:bold;
   
}

#how-it-works h4
{
    color:#343a40;
    
}

#how-it-works span.fas 
{
    color: #14bff6;
    font-size: 35px;
    font-size: 40px;
    text-align:center;
    margin-bottom:1.2rem;
    
}

/*end How it woks secton */


/*start properties styles*/
#properties
{
    margin:4rem 0 8rem;
    position:relative;
}

#properties h2
{
    margin-bottom:1rem;
    margin-left:20px;
}

#properties .container 
{
    position: relative;
}


#properties #properties-slider
{
    width: 90%;
    height: 380px;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
    overflow: hidden;
}

#properties .container:before
{
    position:absolute;
    right:80px;
    top:100px;
    color:#999;

}

#properties-slider a.slick-arrow
{
    color:#000;
    position:absolute;
    top:-70px;
    right:0;
    text-transform:uppercase;
    letter-spacing:0.1rem;
    text-decoration:none;
}



#properties-slider a.slick-prev
{
    right:80px;
}

.container .slick-next 
{
    position: absolute;
    top: 35%;
    right: 30px;
    font-size: 2em;
    color: #444;
    cursor: pointer;
    z-index:8888;
}


.container .slick-prev
{
    position: absolute;
    top: 35%;
    left: 30px;
    font-size: 2em;
    color: #444;
    z-index: 8888;
    cursor: pointer;
}



#properties-slider a.slick-slide
{
    padding:0 35px;

}


.clearfix::after 
{
    display: block;
    clear: both;
}





/*stat best real estate company styles*/
#the-best
{
    margin:2rem 0;
}

#the-best .flex > img 
{
    width:47%;
    margin-right:2rem;
    
}

#the-best h2
{
    font-size: 2rem;
    
}

#the-best ul 
{
    padding-left: 20px;
    margin-bottom: 4rem;
   
}


#the-best ul li 
{
    margin:10px 0;
}
/*end best real estate company styles*/



/*contact us styles*/

#contact
{
    background:#f8f9fa;
    padding:4rem 0 8rem;
}


#contact h2
{
    text-align:center;
    margin-bottom:4rem;

}


#form-container
{
    width:58%;
    background:#fff;
    padding:3rem;
    box-sizing:border-box;
}


#form-container h3
{
    color:#000;
    font-family:playfair 'Playfair Display' , serif;
    margin-bottom:2rem;
}


#form-container label
{
    display:block;
    color:#000;
    margin-top:1rem;
}


#form-container input,
#form-container textarea
{
    border-radius:20px;
    display:block;
    width:100%;
    border:1px solid #ced4da;
    padding:10px;
    width:100%;
    box-sizing:border-box;
    height:43px;
    font-family:"Roboto", "Helvetica" 'sans-serif';
    font-size:1rem;
    color:#495057;

}





   #items.select-dropdown
   {
       font-weight:bold;
        border-radius: 20px;
        display: block;
        width: 100%;
        border: 1px solid #ced4da;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        height: 43px;
        font-family: "Roboto", "Helvetica" 'sans-serif';
        font-size: 1rem;
        color: #495057;
    }




#form-container textarea
{
    height:170px;
    margin-bottom:2rem;
    resize:none;
}


#address-container
{
    width:30%;
    background:#fff;
    padding:1.3rem;
    box-sizing:border-box;
    height:300px;

}

#address-container label
{
    font-weight: 700;
    display:block;
}

#address-container label:first-child
{
    margin-top:0;
}

#address-container a 
{
    text-decoration: none;
    color:#f69314;
}

#address-container address
{
    margin-bottom:1.5rem;
    font-style:normal;
}


#address-container a:hover
{
    text-decoration: underline;
}

/*end contact us styles*/



/*start footer styles*/
footer
{
    background:#333;
    padding:8rem 0;
  
}

footer .flex
{
    padding-bottom:6rem;
    border-bottom:1px solid #777;
}

footer h5
{
    color:#fff;
    margin-bottom: 1rem;
    font-weight:300;
}


footer h5.follow-us
{
    margin-top:1rem;
}


footer .footer-about
{
    width:47%;
}


footer .footer-about p
{
    width:65%;
  
}

footer .footer-quick-links
{
    width: 16%;
}

footer .footer-quick-links ul
{
    list-style-type:none;
    padding:0;
    margin:0;
}


footer .footer-quick-links ul li 
{
    margin:10px 0;
}




footer .footer-quick-links ul li a 
{
    color: #777;
    text-decoration: none;
}


footer .footer-quick-links ul li a:hover
{
    color: #fff;
    
}

footer .footer-subscribe
{
    width:35%;
}

#subscribe-container 
{
    position:relative;
    
}


footer .footer-subscribe input
{
    border-radius:30px;
    height:43px;
    font-family:"Roboto", "Helvetica", "sans-serif";
    border:1px solid #6c757d;
    background-color:transparent;
    color:#fff;
    font-size: 1rem;
    padding:10px;
    box-sizing:border-box;
    width:81%;
}


footer button.right-rounded
{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 43px;
    background: #f69314;
    color: #000;
    padding: 10px 30px 9px;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 0;
}


footer button.right-rounded:hover
{
    background:#c7c1bb;
}


footer .footer-subscribe ul
{
    list-style-type:none;
    padding:0;
    margin:0;
}



footer .footer-subscribe ul li
{
    display:inline-block;
    margin: 0 36px;
}



footer .footer-subscribe ul li:first-child
{
    margin-left: 0;
}


footer .footer-subscribe ul li a
{
    text-decoration:none;
    color:#777;
}


footer .footer-subscribe ul li a:hover
{
    color: #fff;
}


footer small
{
    margin-top:3rem;
    font-size: 1rem;
    display:block;
    text-align:center;
}

footer small a
{
    color:#777;
    text-decoration:none;
}


/*end footer styles*/


/*start media queries*/
@media (max-width:991px )
{

#logo
{
    top:1px;
}


#nav-toggle 
{
    display:block;
}

nav ul 
{
    position: fixed;
    background: #fff;
    right: -100%;
    top: 0;
    margin:0;
    padding:2rem;
    height:100%;
    width:300px;
    box-sizing:border-box;
    box-shadow:5px 0 10px 3px #999;
}


#close-flyout
{
    position: absolute;
    cursor: pointer;
    right: 2rem;
    top: 1.5rem;
    font-size: 30px;
    color:#f69314;
    display: block;
    line-height: 1;
    margin: 0;
}

nav ul li
{
    display:block;
    margin:20px 0;
}


nav ul li:first-child
{
    margin-top:50px;
}


nav ul li a
{
    font-size:20px;
    color:#212529;
}


nav ul li a.active,
nav ul li a:hover
{
    color: #f69314;

}




@media only screen and (max-width:767px)
{

    h1
    {
        font-size:2rem;
    }

    h2
    {
        font-size:1.75rem;
        
    }
    h3
    {
        font-size:1.2rem;
    }

    .large-paragraph
    {
        font-size:1rem;
    }

    .container
    {
        max-width:540px;
    }

    #hero .hero-text
    {
        width:400px;

    }

    #agents .card
    {
        width:49%;
    }


    #the-best .flex > img
    {
        display:none;
    }

    #the-best .flex >div
    {
        width:100%;
        height:100%;
    }

    .testimonials-slider p
    {
        font-size:1.2rem;
        
    }


    #properties .container:before
    {
        top:2px;
        font-size:0.85rem;
    }


    #properties-slider a.slick-arrow
    {
        font-size:0.85rem;
    }


    #properties a.rounded
    {
        width:300px;
    }



    #services .flex > div
    {
        width:48%;
    }

    #contact .flex
    {
        flex-wrap:wrap;
    }

    #form-container
    {
        width:100%;
        padding:2rem;
    }

    #address-container 
    {
        width: 100%;
        margin-top: 2rem;
    }

    footer 
    {
        padding:6rem 1rem;
    }

    footer .flex
    {
        flex-wrap:wrap;
    }


    footer .flex >div
    {
        width:100%;
        margin-top:1rem;
    }


    footer .flex >div:first-child
    {
       
        margin-top:0;
    }

    footer .footer-about  p
    {
        font-size:1rem;
        width:100%;
    }

    footer .footer-subscribe input
    {
        width:90%;
    }

    footer h5.follow-us
    {
        margin-top:2rem;
        
    }



  @media(max-width: 500px)
  {
    #hero .hero-text
    {
        width: 100%;
    }
    
    #agents .card
    {
        width:100%;
    }

    #agents p.large-paragraph
    {
        width:100%;
    }

    #how-it-works .flex 
    {
        display: block;
        width: 100%;
        display: block;
        margin-top: 2rem;
    }

    #how-it-works .flex > div {
        display: block;
    }

    #properties a.rounded
    {
        width:250px;
    }


    #agents
    {
        margin:4rem 0 3rem;
        padding:0 0 3rem;
        
    }

    .container .slick-next 
    {
      display:none !important;
      
    }


    .container .slick-prev 
    {
        display: none !important;
    }



    #services
    {
        padding:4rem 0 3rem;
        margin: 4rem 0;
    }

    #services .flex >div
    {
        width:100%;
       
    }


 

    #services .flex > div .services-card-right h3
    {
        margin-bottom:0.4rem;
    }


    #services .flex > div .services-card-right p
    {
        
        margin-bottom: 0rem;
    }


    #testimonials
    {
        margin-bottom:4rem;
    }


    .testimonials-slider p
    {
        font-size:1rem;
    }

    .testimonial-slider .slick-arrow
    {
        display:none !important;
    }

    #contact 
    {
        padding: 4rem 0;
    }

    #contact h2
    {
        margin-bottom:2rem;
    }

    #form-container
    {
        padding:1.5rem;
    }

    footer
    {
        padding:2rem 0;
        margin:0rem;
       
    }


    footer small 
    {
        margin-top: 1rem;
        margin-bottom: 6rem;
        padding: 1rem;
        font-size: 0.7rem;
    }

    footer h5
    {
       
        margin-bottom:0.5rem;
        margin-top:0rem;
    }

    footer ul.links li a
    {
        
        display:flex;
     
          
    }

    footer ul.links
    {
        margin-bottom: 0rem;
        width:100%;
        
    }

    footer .flex
    {
        padding-bottom:0.5rem;
    }

    
  }

}



}


/*end media  queries*/